//colors
$whiteColor : #fff;
$blackColor : #000;
$azureColor : #32afae;
$grayColor : #d9d9d9;
$weakGrayColor : #f2f2f2;
$purpleColor : #864856;

//fonts
$fontFamily: Roboto, sans-serif;

//screan sizes

$MaxMedum : 'max-width: 1230px';
$maxTablet : 'max-width: 640px';
$maxMobile : 'max-width: 420px';