@import '../../Variables/Variables.scss';

.navigation {
    display: flex;
    position: fixed;
    bottom: 0px;
    padding: 10px 0;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.navigation__link {
    display: flex;
    align-items: center;
    background-color: $grayColor;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: $blackColor;
    font-weight: 600;
    margin: 0 10px;
}

.navigation__link-icon {
    width: 40px;
}